html, body {
  height: 100%
}


.inline-block {
	
	display:inline-block;
	text-align:left;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.inline-text {
	float:right;
}
.no-padding {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

footer {
	color:white;
	background-color:#303f9f;
}
div.inputFieldBuffer{
	margin-bottom:.5em;
]