@font-face {
  font-family: 'MyWebFont';
  src: url('../fonts/glyphicons-halflings-regular.eot'); /* IE9 Compat Modes */
       url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/glyphicons-halflings-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/glyphicons-halflings-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflings-regular') format('svg'); /* Legacy iOS */
}

body {
  margin: 0% 8% 0% 8%;
  width: 0% 8% 0% 8%;
}
footer {
	color:white;
	background-color:#303f9f;
	font-size:8pt;
}

.navbar-header{
	font-family:'glyphicons-halflings-regular';
}

.inline-block {
	
	display:inline-block;
	text-align:left;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.inline-text {
	float:right;
}
.no-padding {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.darkBlue {
	background-color:#0000FF;
	margin: 0% 0% 0% 0%;

}
.contact-us-submit {
	background: #FF69B4;
	border: 10px ;
	width: 14.8em;
	margin-bottom: 1em;
} 

div.inputFieldBuffer{
	margin-bottom:.5em;

}

table{
	width: 75%;
	margin-left:25%;
	border:1px solid black;
	
}

th,tr,td{
	border:1px solid gray;
	padding:4%;
}

.popularTable{
	margin-top:10%;
}

th{
	background-color:darkBlue;
	color:white;
}

td{
	background-color:white;
}

.mainIMG{
	width:100%;
}

.rightDescription{
	background-color:white;
	margin:0%;
	padding-top:2%;
	padding-bottom:2%;
}

@media only screen and (max-width:991px){
	table{
		margin:0%;
		width:100%;
	}
	
	.mainIMG{
		margin-top:2%;
		width:90%;
	}
	/*
	.relatedPicturesRow1{
		width:50%;
	}
	
	.relatedPicturesRow2{
		width:50%;
	}*/
}

