footer {
	color:white;
	background-color:#303f9f;
	font-size:8pt;
}
.wrapper {
	
  margin: 0% 12% 0% 12%;
 
}
.navbar-header{
	font-family:'glyphicons-halflings-regular';
}

.inline-block {
	
	display:inline-block;
	text-align:left;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.recent-post-img{
	float:left;

}
.no-padding {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.darkBlue {
	background-color:#0000FF;
	margin: 0% 0% 0% 0%;
	color:white;
}
.search-submit {
	background:  #FF69B4;
	border: 10px;
	color:white;
	padding: 3px 3px 3px 3px;
}
.contact-us-submit {
	background: #FF69B4;
	border: 10px ;
	margin-top:1em;
	margin-bottom: 1em;
	color:white;
} 

div.inputFieldBuffer{
	margin-bottom:.5em;

}

table{
	width: 75%;
	margin-left:25%;
	border:1px solid black;
	
}

th,tr,td{
	border:1px solid gray;
	padding:4%;
}

.popularTable{
	margin-top:10%;
}

th{
	background-color:darkBlue;
	color:white;
}

td{
	background-color:white;
}

.mainIMG{
	width:100%;
}

.rightDescription{
	background-color:white;
	margin:0%;
	padding-top:2%;
	padding-bottom:2%;
}

.rightIcons{
float:left;
background-color:white;
display:inline-block;
margin-top:5%;
margin-bottom:5%;
padding-top:2%;
padding-bottom:2%;
padding-right:8%;
padding-left:8%;
}

h1 {
	font-style:italic;
	font-size: 15pt;
	color:white;
	margin: 37px -0;
}
ul.topBar {
	text-align:right;
	 padding: 0 0 0 0;
	 margin:0 0 0 0;
	
}
ul.topBar > li { /*Targets all list items first descenndents from ul which has the class topBar*/
	padding: 0 1em 0 0 ;
	display:inline;
}
i[class~="fa-envelope"] { /*Fixes weird indent clearfix doesn't include like row does.   */ 
	padding-left:1em;
}
.relatedPhoto {
	display:block;
	border: thin purple solid;
	margin: 3%;
	padding: 3%;
	text-align:center;
}
.relatedPhoto h6{
	caption-side: bottom;
}
.relatedPhotoB1{
  background-color: hotpink; /* Green */
  border: none;
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;

}
.relatedPhotoB2{
  background-color: lightblue; /* Green */
  border: none;
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;


}
.tags{
  background-color: darkblue; /* Green */
  border: none;
  border-radius:5px;
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  cursor: pointer;

}

@media only screen and (max-width:991px){
	table{
		margin:0%;
		width:100%;
	}
	
	.mainIMG{
		margin-top:2%;
		width:90%;
	}
	/*
	.relatedPicturesRow1{
		width:50%;
	}
	
	.relatedPicturesRow2{
		width:50%;
	}*/
}


@font-face {
  font-family: 'MyWebFont';
  src: url('../fonts/glyphicons-halflings-regular.eot'); /* IE9 Compat Modes */
       url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/glyphicons-halflings-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/glyphicons-halflings-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflings-regular') format('svg'); /* Legacy iOS */
}